<section class="nav">
    <div class="nav__header">
        <span>
            <h2 class="list__name">Jeremy Sluder</h2>
        </span>
        <span>
            <ul class="list list--inline">
                <li class="list__item">Home</li>
                <li class="list__item">Works</li>
                <li class="list__item">About</li>
                <li class="list__item">Contact</li>
            </ul>
        </span>
</section>
<section class="block block--light hero">
    <div class="hero--primary">
        <ul class="dynamic-group">
            <li class="dynamic-item"><span>Front End Developer</span></li>
            <li class="dynamic-item"><span>Web Design</span></li>
            <li class="dynamic-item"><span>From Imagination</span></li>
            <li class="dynamic-item"><span>To Creation!</span></li>
        </ul>
    </div>
</section>